<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h2 style="color:red">What is Bitcoin Mining?</h2>
<p>Bitcoin mining is the process of validating the information in a blockchain block by generating a cryptographic solution that matches specific criteria. When a correct solution is reached, a reward in the form of bitcoin and fees for the work done is given to the miner who reached the solution first.</p>
<p>Over time, the reward for mining Bitcoin is reduced. This reward process continues until there are 21 million bitcoin circulating. Once that number is reached, the bitcoin reward will cease, and Bitcoin miners will be rewarded through fees paid for the work done.</p>
</body>
</html>